{%  load staticfiles %}
<header>
    <img src="{% static 'UI_TextBooks.png' %}" style="width:512px;height:144px;padding:10px;"/>
    <link rel="stylesheet" type="text/css" href="{% static 'listing/layout1.css' %}"  />
    </header>
<div id="sidebar"> <br /> [<a href=".">home</a>] <br /> [<a href="listing/search/">search</a>] <br />[<a href="listing/submit/">post a listing</a>]</div>
<div id="body">

<p>Hello everyone! This is a first production of a textbook classifieds for University of Idaho. Click search to search by subject and course number. Click post a listing to post a listing.</p>
<p>I put this together in about two days. You should <a href="mailto:uitextbooks@gmail.com">email</a> me if:</p>
<ul>
	<li>You want to delete a listing. (autodeletion coming soon)</li>
	<li>You have a bug to report (this will probably happen).</li>
	<li>You have web development/design experience (bonus points for python/django) and you'd like to help on this small project. Also useful would be sysadmin experience. You don't need to know what you're doing, you just need to have an interest--this is a learning project.</li>
	<li>You want to request a feature to be added eventually.</li>
</ul>
<p>There won't be a lot of listings at first so you should probably just make a few with the textbooks you want to get rid of and forget about it for a bit. It's barebones because of how new it is; eventually I'll go in and make it look pretty.</p>
<p>This will only work if you help squash bugs and participate. Thanks a ton!</p>
</div>
